In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob as glob
%matplotlib inline

In [37]:
pd.set_option('display.max_columns', None)

In [38]:
# ind_v_sl_hth_last_5_years = pd.read_csv('Ind v SL HTH Last 5 Years in T20Is.csv')
# ind_last_1_year = pd.read_csv('Ind Last 1 Year in T20Is.csv')
# sl_last_1_year = pd.read_csv('SL Last 1 Year in T20Is.csv')
# ind_v_sl_hth_last_5_years.drop(['Unnamed: 0', 'Unnamed: 7', 'Unnamed: 11'], axis=1, inplace=True)
# ind_last_1_year.drop(['Unnamed: 0', 'Unnamed: 7', 'Unnamed: 11'], axis=1, inplace=True)
# sl_last_1_year.drop(['Unnamed: 0', 'Unnamed: 7', 'Unnamed: 11'], axis=1, inplace=True)
# pd.DataFrame({"India v SL Matches Played": 13, "India v SL Matches Won": 10, "India v SL Matches Lost": 2, "India v SL Matches Tied": 0, "India v SL Matches N/R": 1, "India Last 1 year Matches Played": 16, "India Last 1 Year Matches Won": 10, "India Last 1 Year Matches Lost": 3, "India Last 1 Year Matches Tied": 2, "India Last 1 Year Matches N/R": 1, "SL Last 1 Year Matches Played": 11, "SL Last 1 Year Matches Won": 1, "SL Last 1 Year Matches Lost": 9, "SL Last 1 Year Matches Tied": 0, "SL Last 1 Year Matches N/R": 1}, index=[0])

In [53]:
all_t20is_ever = pd.read_csv("CSV Files/All T20Is ever.csv")

In [79]:
all_t20is_ever.head()

,Team,Result,Margin,BR,Toss,Bat,Opposition,Ground,Start Date
0,Australia,won,44 runs,NaN,won,1st,v New Zealand,Auckland,17 Feb 2005
1,New Zealand,lost,44 runs,NaN,lost,2nd,v Australia,Auckland,17 Feb 2005
2,England,won,100 runs,NaN,won,1st,v Australia,Southampton,13 Jun 2005
3,Australia,lost,100 runs,NaN,lost,2nd,v England,Southampton,13 Jun 2005
4,New Zealand,won,5 wickets,12.0,won,2nd,v South Africa,Johannesburg,21 Oct 2005

In [55]:
all_t20is_ever.drop(['Unnamed: 0', 'Unnamed: 7', 'Unnamed: 11'], axis=1, inplace=True)

In [61]:
all_t20is_ever_refined.Bat.unique()

array(['1st', '2nd', '-'], dtype=object)

In [76]:
df = all_t20is_ever[(all_t20is_ever['Result']=='won') | (all_t20is_ever['Result']=='lost') | (all_t20is_ever['Result']=='tied')]

In [77]:
df.Result.unique()

array(['won', 'lost', 'tied'], dtype=object)

In [78]:
df.Result.value_counts()

won     1147
lost    1147
tied      40
Name: Result, dtype: int64

In [91]:

df = df[df['Bat']=='1st']

In [94]:
df.reset_index(inplace=True, drop=True)

In [96]:
df.drop(['index'], axis=1, inplace=True)

In [115]:
['Year', 'Ground', 'Batting Team', 'Fielding Team', 'Toss', 'Result']

['Year', 'Ground', 'Batting Team', 'Fielding Team', 'Toss', 'Result']

In [100]:
df['Result_Binary'].value_counts()

0    584
1    583
Name: Result_Binary, dtype: int64

In [125]:
df['Result_Binary'] = df['Result'].apply(lambda x: 1 if x=='won' else 0 if x=='lost' else 2)

In [111]:
df.dtypes

Team                     object
Result                   object
Margin                   object
BR                      float64
Toss                     object
Bat                      object
Opposition               object
Ground                   object
Start Date       datetime64[ns]
Result_Binary             int64
Year             datetime64[ns]
dtype: object

In [113]:
df['Year'] = df['Start Date'].dt.year

In [118]:
df[df['Year']==2019]

,Team,Result,Margin,BR,Toss,Bat,Opposition,Ground,Start Date,Result_Binary,Year
700,New Zealand,won,35 runs,NaN,lost,1st,v Sri Lanka,Auckland,2019-01-11,1,2019
701,Bahrain,won,41 runs,NaN,lost,1st,v Saudi Arabia,Al Amerat,2019-01-20,1,2019
702,Maldives,lost,8 wickets,57.0,lost,1st,v Kuwait,Al Amerat,2019-01-20,0,2019
703,Maldives,lost,2 wickets,8.0,won,1st,v Bahrain,Al Amerat,2019-01-21,0,2019
704,Saudi Arabia,lost,4 wickets,27.0,lost,1st,v Qatar,Al Amerat,2019-01-21,0,2019
...,...,...,...,...,...,...,...,...,...,...,...
994,West Indies,lost,6 wickets,8.0,lost,1st,v India,Hyderabad (Deccan),2019-12-06,0,2019
995,Bhutan,lost,8 wickets,29.0,lost,1st,v Maldives,Kirtipur,2019-12-07,0,2019
996,India,lost,8 wickets,9.0,lost,1st,v West Indies,Thiruvananthapuram,2019-12-08,0,2019
997,Maldives,lost,5 wickets,23.0,lost,1st,v Nepal,Kirtipur,2019-12-09,0,2019
998,India,won,67 runs,NaN,lost,1st,v West Indies,Mumbai,2019-12-11,1,2019

In [117]:
df.groupby('Year')['Team'].count()

Year
2005      3
2006      9
2007     37
2008     28
2009     47
2010     67
2011     21
2012     79
2013     52
2014     60
2015     59
2016     97
2017     63
2018     78
2019    299
2020     90
2021     78
Name: Team, dtype: int64

In [120]:
df.to_csv("CSV Files/All T20Is Ever Refined.csv")

In [175]:
df

,Team,Result,Margin,BR,Toss,Bat,Opposition,Ground,Start Date,Result_Binary,Year
0,Australia,won,44 runs,NaN,won,1st,New Zealand,Auckland,2005-02-17,1,2005
1,England,won,100 runs,NaN,won,1st,Australia,Southampton,2005-06-13,1,2005
2,South Africa,lost,5 wickets,12.0,lost,1st,New Zealand,Johannesburg,2005-10-21,0,2005
3,Australia,won,95 runs,NaN,won,1st,South Africa,Brisbane,2006-01-09,1,2006
4,West Indies,tied,-,NaN,lost,1st,New Zealand,Auckland,2006-02-16,2,2006
...,...,...,...,...,...,...,...,...,...,...,...
1158,Australia,won,4 runs,NaN,won,1st,West Indies,Gros Islet,2021-07-14,1,2021
1159,Pakistan,won,31 runs,NaN,lost,1st,England,Nottingham,2021-07-16,1,2021
1160,West Indies,won,16 runs,NaN,won,1st,Australia,Gros Islet,2021-07-16,1,2021
1161,England,won,45 runs,NaN,lost,1st,Pakistan,Leeds,2021-07-18,1,2021
1163,Pakistan,lost,3 wickets,2.0,won,1st,England,Manchester,2021-07-20,0,2021

In [123]:
df['Opposition'] = df['Opposition'].apply(lambda x: x[2:])

In [155]:
teams_to_consider = ['India', 'Australia', 'England', 'South Africa', 'Pakistan', 'New Zealand', 'Sri Lanka', 'West Indies', 'Bangladesh']

In [156]:
df = df[df['Team'].isin(teams_to_consider) & df['Opposition'].isin(teams_to_consider)]

In [159]:
x = pd.DataFrame(df.groupby(['Team'])['Result'].value_counts())
x.columns = ['Count']
x = x.reset_index()
x

            Team Result  Count
0      Australia   lost     29
1      Australia    won     29
2     Bangladesh   lost     21
3     Bangladesh    won      5
4        England    won     29
5        England   lost     24
6        England   tied      1
7          India    won     36
8          India   lost     28
9          India   tied      3
10   New Zealand    won     39
11   New Zealand   lost     27
12   New Zealand   tied      4
13      Pakistan    won     42
14      Pakistan   lost     31
15      Pakistan   tied      1
16  South Africa    won     39
17  South Africa   lost     35
18     Sri Lanka   lost     37
19     Sri Lanka    won     28
20     Sri Lanka   tied      1
21   West Indies   lost     29
22   West Indies    won     25
23   West Indies   tied      2

In [160]:
y = pd.DataFrame(df.groupby(['Opposition'])['Result'].value_counts())
y.columns = ['Count']
y = y.reset_index()
y

      Opposition Result  Count
0      Australia   lost     39
1      Australia    won     34
2      Australia   tied      2
3     Bangladesh    won     32
4     Bangladesh   lost      7
5        England   lost     39
6        England    won     33
7        England   tied      1
8          India   lost     41
9          India    won     17
10   New Zealand    won     35
11   New Zealand   lost     22
12   New Zealand   tied      4
13      Pakistan   lost     36
14      Pakistan    won     30
15      Pakistan   tied      2
16  South Africa   lost     27
17  South Africa    won     24
18  South Africa   tied      1
19     Sri Lanka    won     33
20     Sri Lanka   lost     23
21     Sri Lanka   tied      1
22   West Indies    won     34
23   West Indies   lost     27
24   West Indies   tied      1

In [165]:
teams_to_consider

['India',
 'Australia',
 'England',
 'South Africa',
 'Pakistan',
 'New Zealand',
 'Sri Lanka',
 'West Indies',
 'Bangladesh']

In [170]:
x_won = y[y['Result']=='tied']
x_won

      Opposition Result  Count
2      Australia   tied      2
7        England   tied      1
12   New Zealand   tied      4
15      Pakistan   tied      2
18  South Africa   tied      1
21     Sri Lanka   tied      1
24   West Indies   tied      1

In [181]:
results_dict = {'Team': teams_to_consider, 'Matches Won Batting First': [36, 29, 29, 39, 42, 39, 28, 25, 5], 'Matches Lost Batting First': [28, 29, 24, 35, 31, 27, 37, 29, 21], 'Matches Tied Batting First': [3, 0, 1, 0, 1, 4, 1, 2, 0], 'Matches Won Batting Second': [41, 39, 39, 27, 36, 22, 23, 27, 7], 'Matches Lost Batting Second': [17, 34, 33, 24, 30, 35, 33, 34, 32], 'Matches Tied Batting Second': [0, 2, 1, 1, 2, 4, 1, 1, 0]}
team_wise_results = pd.DataFrame(results_dict)

In [184]:
team_wise_results['Bat 1st Win %'] = team_wise_results[['Matches Won Batting First', 'Matches Lost Batting First', 'Matches Tied Batting First']].apply(lambda x:x[0]/(x[0]+x[1]+x[2])*100, axis=1)
team_wise_results['Bat 1st Loss %'] = team_wise_results[['Matches Won Batting First', 'Matches Lost Batting First', 'Matches Tied Batting First']].apply(lambda x:x[1]/(x[0]+x[1]+x[2])*100, axis=1)
team_wise_results['Bat 2nd Win %'] = team_wise_results[['Matches Won Batting Second', 'Matches Lost Batting Second', 'Matches Tied Batting Second']].apply(lambda x:x[0]/(x[0]+x[1]+x[2])*100, axis=1)
team_wise_results['Bat 2nd Loss %'] = team_wise_results[['Matches Won Batting Second', 'Matches Lost Batting Second', 'Matches Tied Batting Second']].apply(lambda x:x[1]/(x[0]+x[1]+x[2])*100, axis=1)
team_wise_results = team_wise_results.round(decimals=2)
team_wise_results

,Team,Matches Won Batting First,Matches Lost Batting First,Matches Tied Batting First,Matches Won Batting Second,Matches Lost Batting Second,Matches Tied Batting Second,Bat 1st Win %,Bat 1st Loss %,Bat 2nd Win %,Bat 2nd Loss %
0,India,36,28,3,41,17,0,53.73,41.79,70.69,29.31
1,Australia,29,29,0,39,34,2,50.00,50.00,52.00,45.33
2,England,29,24,1,39,33,1,53.70,44.44,53.42,45.21
3,South Africa,39,35,0,27,24,1,52.70,47.30,51.92,46.15
4,Pakistan,42,31,1,36,30,2,56.76,41.89,52.94,44.12
5,New Zealand,39,27,4,22,35,4,55.71,38.57,36.07,57.38
6,Sri Lanka,28,37,1,23,33,1,42.42,56.06,40.35,57.89
7,West Indies,25,29,2,27,34,1,44.64,51.79,43.55,54.84
8,Bangladesh,5,21,0,7,32,0,19.23,80.77,17.95,82.05

In [180]:
# all_t20is_ever_refined = all_t20is_ever.iloc[::2]
# all_t20is_ever_refined.head()
# all_t20is_ever_refined.Result.value_counts()
# all_t20is_ever = all_t20is_ever[(all_t20is_ever['Result']!='aban') & (all_t20is_ever['Result']!='canc') & ()]
# len(all_t20is_ever)
# all_t20is_ever.to_csv("CSV Files/All T20Is Ever Refined.csv")
# all_t20is_ever_refined.shape
# all_t20is_ever_refined[['Result', 'Bat']].drop_duplicates().sort_values('Result')