In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob as glob
%matplotlib inline

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
ind_v_sl_hth_last_5_years = pd.read_csv('Ind v SL HTH Last 5 Years in T20Is.csv')

In [4]:
ind_last_1_year = pd.read_csv('Ind Last 1 Year in T20Is.csv')

In [5]:
sl_last_1_year = pd.read_csv('SL Last 1 Year in T20Is.csv')

In [6]:
ind_v_sl_hth_last_5_years.drop(['Unnamed: 0', 'Unnamed: 7', 'Unnamed: 11'], axis=1, inplace=True)
ind_last_1_year.drop(['Unnamed: 0', 'Unnamed: 7', 'Unnamed: 11'], axis=1, inplace=True)
sl_last_1_year.drop(['Unnamed: 0', 'Unnamed: 7', 'Unnamed: 11'], axis=1, inplace=True)

In [7]:
sl_last_1_year

,Team,Result,Margin,BR,Toss,Bat,Opposition,Ground,Start Date
0,Sri Lanka,n/r,-,NaN,lost,-,v India,Guwahati,5 Jan 2020
1,Sri Lanka,lost,7 wickets,15.0,lost,1st,v India,Indore,7 Jan 2020
2,Sri Lanka,lost,78 runs,NaN,won,2nd,v India,Pune,10 Jan 2020
3,Sri Lanka,lost,25 runs,NaN,lost,2nd,v West Indies,Pallekele,4 Mar 2020
4,Sri Lanka,lost,7 wickets,18.0,lost,1st,v West Indies,Pallekele,6 Mar 2020
5,Sri Lanka,lost,4 wickets,41.0,lost,1st,v West Indies,Coolidge,3 Mar 2021
6,Sri Lanka,won,43 runs,NaN,won,1st,v West Indies,Coolidge,5 Mar 2021
7,Sri Lanka,lost,3 wickets,6.0,won,1st,v West Indies,Coolidge,7 Mar 2021
8,Sri Lanka,lost,8 wickets,17.0,won,1st,v England,Cardiff,23 Jun 2021
9,Sri Lanka,lost,5 wickets,11.0,won,1st,v England,Cardiff,24 Jun 2021
10,Sri Lanka,lost,89 runs,NaN,won,2nd,v England,Southampton,26 Jun 2021

In [8]:
pd.DataFrame({"India v SL Matches Played": 13, "India v SL Matches Won": 10, "India v SL Matches Lost": 2, "India v SL Matches Tied": 0, "India v SL Matches N/R": 1, "India Last 1 year Matches Played": 16, "India Last 1 Year Matches Won": 10, "India Last 1 Year Matches Lost": 3, "India Last 1 Year Matches Tied": 2, "India Last 1 Year Matches N/R": 1, "SL Last 1 Year Matches Played": 11, "SL Last 1 Year Matches Won": 1, "SL Last 1 Year Matches Lost": 9, "SL Last 1 Year Matches Tied": 0, "SL Last 1 Year Matches N/R": 1}, index=[0])

,India v SL Matches Played,India v SL Matches Won,India v SL Matches Lost,India v SL Matches Tied,India v SL Matches N/R,India Last 1 year Matches Played,India Last 1 Year Matches Won,India Last 1 Year Matches Lost,India Last 1 Year Matches Tied,India Last 1 Year Matches N/R,SL Last 1 Year Matches Played,SL Last 1 Year Matches Won,SL Last 1 Year Matches Lost,SL Last 1 Year Matches Tied,SL Last 1 Year Matches N/R
0,13,10,2,0,1,16,10,3,2,1,11,1,9,0,1