In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob as glob
%matplotlib inline

In [37]:
pd.set_option('display.max_columns', None)

In [38]:
# ind_v_sl_hth_last_5_years = pd.read_csv('Ind v SL HTH Last 5 Years in T20Is.csv')
# ind_last_1_year = pd.read_csv('Ind Last 1 Year in T20Is.csv')
# sl_last_1_year = pd.read_csv('SL Last 1 Year in T20Is.csv')
# ind_v_sl_hth_last_5_years.drop(['Unnamed: 0', 'Unnamed: 7', 'Unnamed: 11'], axis=1, inplace=True)
# ind_last_1_year.drop(['Unnamed: 0', 'Unnamed: 7', 'Unnamed: 11'], axis=1, inplace=True)
# sl_last_1_year.drop(['Unnamed: 0', 'Unnamed: 7', 'Unnamed: 11'], axis=1, inplace=True)
# pd.DataFrame({"India v SL Matches Played": 13, "India v SL Matches Won": 10, "India v SL Matches Lost": 2, "India v SL Matches Tied": 0, "India v SL Matches N/R": 1, "India Last 1 year Matches Played": 16, "India Last 1 Year Matches Won": 10, "India Last 1 Year Matches Lost": 3, "India Last 1 Year Matches Tied": 2, "India Last 1 Year Matches N/R": 1, "SL Last 1 Year Matches Played": 11, "SL Last 1 Year Matches Won": 1, "SL Last 1 Year Matches Lost": 9, "SL Last 1 Year Matches Tied": 0, "SL Last 1 Year Matches N/R": 1}, index=[0])

In [53]:
all_t20is_ever = pd.read_csv("CSV Files/All T20Is ever.csv")

In [79]:
all_t20is_ever.head()

,Team,Result,Margin,BR,Toss,Bat,Opposition,Ground,Start Date
0,Australia,won,44 runs,NaN,won,1st,v New Zealand,Auckland,17 Feb 2005
1,New Zealand,lost,44 runs,NaN,lost,2nd,v Australia,Auckland,17 Feb 2005
2,England,won,100 runs,NaN,won,1st,v Australia,Southampton,13 Jun 2005
3,Australia,lost,100 runs,NaN,lost,2nd,v England,Southampton,13 Jun 2005
4,New Zealand,won,5 wickets,12.0,won,2nd,v South Africa,Johannesburg,21 Oct 2005

In [55]:
all_t20is_ever.drop(['Unnamed: 0', 'Unnamed: 7', 'Unnamed: 11'], axis=1, inplace=True)

In [61]:
all_t20is_ever_refined.Bat.unique()

array(['1st', '2nd', '-'], dtype=object)

In [76]:
df = all_t20is_ever[(all_t20is_ever['Result']=='won') | (all_t20is_ever['Result']=='lost') | (all_t20is_ever['Result']=='tied')]

In [77]:
df.Result.unique()

array(['won', 'lost', 'tied'], dtype=object)

In [78]:
df.Result.value_counts()

won     1147
lost    1147
tied      40
Name: Result, dtype: int64

In [91]:

df = df[df['Bat']=='1st']

In [94]:
df.reset_index(inplace=True, drop=True)

In [96]:
df.drop(['index'], axis=1, inplace=True)

In [115]:
['Year', 'Ground', 'Batting Team', 'Fielding Team', 'Toss', 'Result']

['Year', 'Ground', 'Batting Team', 'Fielding Team', 'Toss', 'Result']

In [119]:
df

,Team,Result,Margin,BR,Toss,Bat,Opposition,Ground,Start Date,Result_Binary,Year
0,Australia,won,44 runs,NaN,won,1st,v New Zealand,Auckland,2005-02-17,1,2005
1,England,won,100 runs,NaN,won,1st,v Australia,Southampton,2005-06-13,1,2005
2,South Africa,lost,5 wickets,12.0,lost,1st,v New Zealand,Johannesburg,2005-10-21,0,2005
3,Australia,won,95 runs,NaN,won,1st,v South Africa,Brisbane,2006-01-09,1,2006
4,West Indies,tied,-,NaN,lost,1st,v New Zealand,Auckland,2006-02-16,0,2006
...,...,...,...,...,...,...,...,...,...,...,...
1162,South Africa,won,33 runs,NaN,lost,1st,v Ireland,Dublin (Malahide),2021-07-19,1,2021
1163,Pakistan,lost,3 wickets,2.0,won,1st,v England,Manchester,2021-07-20,0,2021
1164,Zimbabwe,lost,8 wickets,7.0,won,1st,v Bangladesh,Harare,2021-07-22,0,2021
1165,South Africa,won,42 runs,NaN,won,1st,v Ireland,Belfast,2021-07-22,1,2021
1166,Zimbabwe,won,23 runs,NaN,won,1st,v Bangladesh,Harare,2021-07-23,1,2021

In [100]:
df['Result_Binary'].value_counts()

0    584
1    583
Name: Result_Binary, dtype: int64

In [98]:
df['Result_Binary'] = df['Result'].apply(lambda x: 1 if x=='won' else 0)

In [111]:
df.dtypes

Team                     object
Result                   object
Margin                   object
BR                      float64
Toss                     object
Bat                      object
Opposition               object
Ground                   object
Start Date       datetime64[ns]
Result_Binary             int64
Year             datetime64[ns]
dtype: object

In [113]:
df['Year'] = df['Start Date'].dt.year

In [118]:
df[df['Year']==2019]

,Team,Result,Margin,BR,Toss,Bat,Opposition,Ground,Start Date,Result_Binary,Year
700,New Zealand,won,35 runs,NaN,lost,1st,v Sri Lanka,Auckland,2019-01-11,1,2019
701,Bahrain,won,41 runs,NaN,lost,1st,v Saudi Arabia,Al Amerat,2019-01-20,1,2019
702,Maldives,lost,8 wickets,57.0,lost,1st,v Kuwait,Al Amerat,2019-01-20,0,2019
703,Maldives,lost,2 wickets,8.0,won,1st,v Bahrain,Al Amerat,2019-01-21,0,2019
704,Saudi Arabia,lost,4 wickets,27.0,lost,1st,v Qatar,Al Amerat,2019-01-21,0,2019
...,...,...,...,...,...,...,...,...,...,...,...
994,West Indies,lost,6 wickets,8.0,lost,1st,v India,Hyderabad (Deccan),2019-12-06,0,2019
995,Bhutan,lost,8 wickets,29.0,lost,1st,v Maldives,Kirtipur,2019-12-07,0,2019
996,India,lost,8 wickets,9.0,lost,1st,v West Indies,Thiruvananthapuram,2019-12-08,0,2019
997,Maldives,lost,5 wickets,23.0,lost,1st,v Nepal,Kirtipur,2019-12-09,0,2019
998,India,won,67 runs,NaN,lost,1st,v West Indies,Mumbai,2019-12-11,1,2019

In [117]:
df.groupby('Year')['Team'].count()

Year
2005      3
2006      9
2007     37
2008     28
2009     47
2010     67
2011     21
2012     79
2013     52
2014     60
2015     59
2016     97
2017     63
2018     78
2019    299
2020     90
2021     78
Name: Team, dtype: int64

In [58]:
all_t20is_ever_refined = all_t20is_ever.iloc[::2]

In [59]:
all_t20is_ever_refined.head()

,Team,Result,Margin,BR,Toss,Bat,Opposition,Ground,Start Date
0,Australia,won,44 runs,NaN,won,1st,v New Zealand,Auckland,17 Feb 2005
2,England,won,100 runs,NaN,won,1st,v Australia,Southampton,13 Jun 2005
4,New Zealand,won,5 wickets,12.0,won,2nd,v South Africa,Johannesburg,21 Oct 2005
6,Australia,won,95 runs,NaN,won,1st,v South Africa,Brisbane,9 Jan 2006
8,New Zealand,tied,-,NaN,won,2nd,v West Indies,Auckland,16 Feb 2006

In [70]:
all_t20is_ever_refined.Result.value_counts()

won     1147
aban      33
n/r       31
canc      23
tied      20
Name: Result, dtype: int64

In [32]:
all_t20is_ever = all_t20is_ever[(all_t20is_ever['Result']!='aban') & (all_t20is_ever['Result']!='canc') & ()]

In [57]:
len(all_t20is_ever)

2508

In [35]:
all_t20is_ever.to_csv("CSV Files/All T20Is Ever Refined.csv")

In [60]:
all_t20is_ever_refined.shape

(1254, 9)

In [69]:
all_t20is_ever_refined[['Result', 'Bat']].drop_duplicates().sort_values('Result')

     Result  Bat
136    aban    -
2232   canc    -
50      n/r  1st
134     n/r  2nd
858     n/r    -
8      tied  2nd
56     tied  1st
0       won  1st
4       won  2nd