In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob as glob
%matplotlib inline

In [37]:
pd.set_option('display.max_columns', None)

In [38]:
# ind_v_sl_hth_last_5_years = pd.read_csv('Ind v SL HTH Last 5 Years in T20Is.csv')
# ind_last_1_year = pd.read_csv('Ind Last 1 Year in T20Is.csv')
# sl_last_1_year = pd.read_csv('SL Last 1 Year in T20Is.csv')
# ind_v_sl_hth_last_5_years.drop(['Unnamed: 0', 'Unnamed: 7', 'Unnamed: 11'], axis=1, inplace=True)
# ind_last_1_year.drop(['Unnamed: 0', 'Unnamed: 7', 'Unnamed: 11'], axis=1, inplace=True)
# sl_last_1_year.drop(['Unnamed: 0', 'Unnamed: 7', 'Unnamed: 11'], axis=1, inplace=True)
# pd.DataFrame({"India v SL Matches Played": 13, "India v SL Matches Won": 10, "India v SL Matches Lost": 2, "India v SL Matches Tied": 0, "India v SL Matches N/R": 1, "India Last 1 year Matches Played": 16, "India Last 1 Year Matches Won": 10, "India Last 1 Year Matches Lost": 3, "India Last 1 Year Matches Tied": 2, "India Last 1 Year Matches N/R": 1, "SL Last 1 Year Matches Played": 11, "SL Last 1 Year Matches Won": 1, "SL Last 1 Year Matches Lost": 9, "SL Last 1 Year Matches Tied": 0, "SL Last 1 Year Matches N/R": 1}, index=[0])

In [53]:
all_t20is_ever = pd.read_csv("CSV Files/All T20Is ever.csv")

In [79]:
all_t20is_ever.head()

,Team,Result,Margin,BR,Toss,Bat,Opposition,Ground,Start Date
0,Australia,won,44 runs,NaN,won,1st,v New Zealand,Auckland,17 Feb 2005
1,New Zealand,lost,44 runs,NaN,lost,2nd,v Australia,Auckland,17 Feb 2005
2,England,won,100 runs,NaN,won,1st,v Australia,Southampton,13 Jun 2005
3,Australia,lost,100 runs,NaN,lost,2nd,v England,Southampton,13 Jun 2005
4,New Zealand,won,5 wickets,12.0,won,2nd,v South Africa,Johannesburg,21 Oct 2005

In [55]:
all_t20is_ever.drop(['Unnamed: 0', 'Unnamed: 7', 'Unnamed: 11'], axis=1, inplace=True)

In [61]:
all_t20is_ever_refined.Bat.unique()

array(['1st', '2nd', '-'], dtype=object)

In [76]:
df = all_t20is_ever[(all_t20is_ever['Result']=='won') | (all_t20is_ever['Result']=='lost') | (all_t20is_ever['Result']=='tied')]

In [77]:
df.Result.unique()

array(['won', 'lost', 'tied'], dtype=object)

In [78]:
df.Result.value_counts()

won     1147
lost    1147
tied      40
Name: Result, dtype: int64

In [91]:

df = df[df['Bat']=='1st']

In [94]:
df.reset_index(inplace=True, drop=True)

In [96]:
df.drop(['index'], axis=1, inplace=True)

In [115]:
['Year', 'Ground', 'Batting Team', 'Fielding Team', 'Toss', 'Result']

['Year', 'Ground', 'Batting Team', 'Fielding Team', 'Toss', 'Result']

In [100]:
df['Result_Binary'].value_counts()

0    584
1    583
Name: Result_Binary, dtype: int64

In [125]:
df['Result_Binary'] = df['Result'].apply(lambda x: 1 if x=='won' else 0 if x=='lost' else 2)

In [111]:
df.dtypes

Team                     object
Result                   object
Margin                   object
BR                      float64
Toss                     object
Bat                      object
Opposition               object
Ground                   object
Start Date       datetime64[ns]
Result_Binary             int64
Year             datetime64[ns]
dtype: object

In [113]:
df['Year'] = df['Start Date'].dt.year

In [118]:
df[df['Year']==2019]

,Team,Result,Margin,BR,Toss,Bat,Opposition,Ground,Start Date,Result_Binary,Year
700,New Zealand,won,35 runs,NaN,lost,1st,v Sri Lanka,Auckland,2019-01-11,1,2019
701,Bahrain,won,41 runs,NaN,lost,1st,v Saudi Arabia,Al Amerat,2019-01-20,1,2019
702,Maldives,lost,8 wickets,57.0,lost,1st,v Kuwait,Al Amerat,2019-01-20,0,2019
703,Maldives,lost,2 wickets,8.0,won,1st,v Bahrain,Al Amerat,2019-01-21,0,2019
704,Saudi Arabia,lost,4 wickets,27.0,lost,1st,v Qatar,Al Amerat,2019-01-21,0,2019
...,...,...,...,...,...,...,...,...,...,...,...
994,West Indies,lost,6 wickets,8.0,lost,1st,v India,Hyderabad (Deccan),2019-12-06,0,2019
995,Bhutan,lost,8 wickets,29.0,lost,1st,v Maldives,Kirtipur,2019-12-07,0,2019
996,India,lost,8 wickets,9.0,lost,1st,v West Indies,Thiruvananthapuram,2019-12-08,0,2019
997,Maldives,lost,5 wickets,23.0,lost,1st,v Nepal,Kirtipur,2019-12-09,0,2019
998,India,won,67 runs,NaN,lost,1st,v West Indies,Mumbai,2019-12-11,1,2019

In [117]:
df.groupby('Year')['Team'].count()

Year
2005      3
2006      9
2007     37
2008     28
2009     47
2010     67
2011     21
2012     79
2013     52
2014     60
2015     59
2016     97
2017     63
2018     78
2019    299
2020     90
2021     78
Name: Team, dtype: int64

In [120]:
df.to_csv("CSV Files/All T20Is Ever Refined.csv")

In [123]:
df['Opposition'] = df['Opposition'].apply(lambda x: x[2:])

In [155]:
teams_to_consider = ['India', 'Australia', 'England', 'South Africa', 'Pakistan', 'New Zealand', 'Sri Lanka', 'West Indies', 'Bangladesh']

In [156]:
df = df[df['Team'].isin(teams_to_consider) & df['Opposition'].isin(teams_to_consider)]

In [192]:
df.head()

,Team,Result,Margin,BR,Toss,Bat,Opposition,Ground,Start Date,Result_Binary,Year,Bat 1st Won,Bat 1st Lost,Bat 1st Tied,Bat 2nd Won,Bat 2nd Lost,Bat 2nd Tied
0,Australia,won,44 runs,NaN,won,1st,New Zealand,Auckland,2005-02-17,1,2005,1,0,0,0,1,0
1,England,won,100 runs,NaN,won,1st,Australia,Southampton,2005-06-13,1,2005,1,0,0,0,1,0
2,South Africa,lost,5 wickets,12.0,lost,1st,New Zealand,Johannesburg,2005-10-21,0,2005,0,1,0,1,0,0
3,Australia,won,95 runs,NaN,won,1st,South Africa,Brisbane,2006-01-09,1,2006,1,0,0,0,1,0
4,West Indies,tied,-,NaN,lost,1st,New Zealand,Auckland,2006-02-16,2,2006,0,0,1,0,0,1

In [199]:
# x = pd.DataFrame(df.groupby(['Team'])['Result'].value_counts())
# x.columns = ['Count']
# x = x.reset_index()
# x

# y = pd.DataFrame(df.groupby(['Opposition'])['Result'].value_counts())
# y.columns = ['Count']
# y = y.reset_index()
# y

# x_won = y[y['Result']=='tied']
# x_won

# results_dict = {'Team': teams_to_consider, 'Matches Won Batting First': [36, 29, 29, 39, 42, 39, 28, 25, 5], 'Matches Lost Batting First': [28, 29, 24, 35, 31, 27, 37, 29, 21], 'Matches Tied Batting First': [3, 0, 1, 0, 1, 4, 1, 2, 0], 'Matches Won Batting Second': [41, 39, 39, 27, 36, 22, 23, 27, 7], 'Matches Lost Batting Second': [17, 34, 33, 24, 30, 35, 33, 34, 32], 'Matches Tied Batting Second': [0, 2, 1, 1, 2, 4, 1, 1, 0]}
# team_wise_results = pd.DataFrame(results_dict)

# team_wise_results['Bat 1st Win %'] = team_wise_results[['Matches Won Batting First', 'Matches Lost Batting First', 'Matches Tied Batting First']].apply(lambda x:x[0]/(x[0]+x[1]+x[2])*100, axis=1)
# team_wise_results['Bat 1st Loss %'] = team_wise_results[['Matches Won Batting First', 'Matches Lost Batting First', 'Matches Tied Batting First']].apply(lambda x:x[1]/(x[0]+x[1]+x[2])*100, axis=1)
# team_wise_results['Bat 2nd Win %'] = team_wise_results[['Matches Won Batting Second', 'Matches Lost Batting Second', 'Matches Tied Batting Second']].apply(lambda x:x[0]/(x[0]+x[1]+x[2])*100, axis=1)
# team_wise_results['Bat 2nd Loss %'] = team_wise_results[['Matches Won Batting Second', 'Matches Lost Batting Second', 'Matches Tied Batting Second']].apply(lambda x:x[1]/(x[0]+x[1]+x[2])*100, axis=1)
# team_wise_results = team_wise_results.round(decimals=2)
# team_wise_results

In [189]:
df['Bat 1st Won'] = df['Result'].apply(lambda x: 1 if x=='won' else 0)
df['Bat 1st Lost'] = df['Result'].apply(lambda x: 1 if x=='lost' else 0)
df['Bat 1st Tied'] = df['Result'].apply(lambda x: 1 if x=='tied' else 0)
df['Bat 2nd Won'] = df['Result'].apply(lambda x: 1 if x=='lost' else 0)
df['Bat 2nd Lost'] = df['Result'].apply(lambda x: 1 if x=='won' else 0)
df['Bat 2nd Tied'] = df['Result'].apply(lambda x: 1 if x=='tied' else 0)

<ipython-input-189-675270350264>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Bat 1st Won'] = df['Result'].apply(lambda x: 1 if x=='won' else 0)
<ipython-input-189-675270350264>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Bat 1st Lost'] = df['Result'].apply(lambda x: 1 if x=='lost' else 0)
<ipython-input-189-675270350264>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Bat 1st Tied'] = df['Result'].apply(lambda x: 1 if x=='tied' else 0)
<ipython-input-189-675270350264>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Bat 2nd Won'] = df['Result'].apply(lambda x: 1 if x=='lost' else 0)
<ipython-input-189-675270350264>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Bat 2nd Lost'] = df['Result'].apply(lambda x: 1 if x=='won' else 0)
<ipython-input-189-675270350264>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Bat 2nd Tied'] = df['Result'].apply(lambda x: 1 if x=='tied' else 0)

In [273]:
def win_loss_percentage_batting_first_second(df, starting_year=2000, groupby_year=False):
    if not groupby_year:
        temp = df[df['Year']>starting_year].groupby(['Team'])[['Bat 1st Won', 'Bat 1st Lost', 'Bat 1st Tied']].sum().join(df[df['Year']>starting_year].groupby(['Opposition'])[['Bat 2nd Won', 'Bat 2nd Lost', 'Bat 2nd Tied']].sum())
        temp['Bat 1st Win %'] = temp[['Bat 1st Won', 'Bat 1st Lost', 'Bat 1st Tied']].apply(lambda x:x[0]/(x[0]+x[1]+x[2])*100, axis=1)
        temp['Bat 1st Loss %'] = temp[['Bat 1st Won', 'Bat 1st Lost', 'Bat 1st Tied']].apply(lambda x:x[1]/(x[0]+x[1]+x[2])*100, axis=1)
        temp['Bat 2nd Win %'] = temp[['Bat 2nd Won', 'Bat 2nd Lost', 'Bat 2nd Tied']].apply(lambda x:x[0]/(x[0]+x[1]+x[2])*100, axis=1)
        temp['Bat 2nd Loss %'] = temp[['Bat 2nd Won', 'Bat 2nd Lost', 'Bat 2nd Tied']].apply(lambda x:x[1]/(x[0]+x[1]+x[2])*100, axis=1)
        temp = temp.round(decimals=2)
        return temp
    else:
        temp_1 = df[df['Year']>starting_year].groupby(['Team', 'Year'])[['Bat 1st Won', 'Bat 1st Lost', 'Bat 1st Tied']].sum()
        temp_2 = df[df['Year']>starting_year].groupby(['Opposition', 'Year'])[['Bat 2nd Won', 'Bat 2nd Lost', 'Bat 2nd Tied']].sum().reset_index()
        temp_2.columns = ['Team', 'Year', 'Bat 2nd Won', 'Bat 2nd Lost', 'Bat 2nd Tied']
        temp = pd.merge(temp_1.reset_index(), temp_2.reset_index(), on=['Team', 'Year']).groupby(['Team', 'Year']).sum()
        temp['Bat 1st Win %'] = temp[['Bat 1st Won', 'Bat 1st Lost', 'Bat 1st Tied']].apply(lambda x:x[0]/(x[0]+x[1]+x[2])*100, axis=1)
        temp['Bat 1st Loss %'] = temp[['Bat 1st Won', 'Bat 1st Lost', 'Bat 1st Tied']].apply(lambda x:x[1]/(x[0]+x[1]+x[2])*100, axis=1)
        temp['Bat 2nd Win %'] = temp[['Bat 2nd Won', 'Bat 2nd Lost', 'Bat 2nd Tied']].apply(lambda x:x[0]/(x[0]+x[1]+x[2])*100, axis=1)
        temp['Bat 2nd Loss %'] = temp[['Bat 2nd Won', 'Bat 2nd Lost', 'Bat 2nd Tied']].apply(lambda x:x[1]/(x[0]+x[1]+x[2])*100, axis=1)
        temp = temp.round(decimals=2)
        temp.drop('index', axis=1, inplace=True)
        return temp

In [225]:
team_wise_results_all_time = win_loss_percentage_batting_first_second(df)
team_wise_results_all_time

,Bat 1st Won,Bat 1st Lost,Bat 1st Tied,Bat 2nd Won,Bat 2nd Lost,Bat 2nd Tied,Bat 1st Win %,Bat 1st Loss %,Bat 2nd Win %,Bat 2nd Loss %
Team,,,,,,,,,,
Australia,29,29,0,39,34,2,50.00,50.00,52.00,45.33
Bangladesh,5,21,0,7,32,0,19.23,80.77,17.95,82.05
England,29,24,1,39,33,1,53.70,44.44,53.42,45.21
India,36,28,3,41,17,0,53.73,41.79,70.69,29.31
New Zealand,39,27,4,22,35,4,55.71,38.57,36.07,57.38
Pakistan,42,31,1,36,30,2,56.76,41.89,52.94,44.12
South Africa,39,35,0,27,24,1,52.70,47.30,51.92,46.15
Sri Lanka,28,37,1,23,33,1,42.42,56.06,40.35,57.89
West Indies,25,29,2,27,34,1,44.64,51.79,43.55,54.84

In [276]:
team_wise_results_all_time.to_csv("CSV Files/Team Wise Results Batting First & Second.csv")

In [226]:
team_wise_results_last_5_years = win_loss_percentage_batting_first_second(df, starting_year=2015)
team_wise_results_last_5_years

,Bat 1st Won,Bat 1st Lost,Bat 1st Tied,Bat 2nd Won,Bat 2nd Lost,Bat 2nd Tied,Bat 1st Win %,Bat 1st Loss %,Bat 2nd Win %,Bat 2nd Loss %
Team,,,,,,,,,,
Australia,11,12,0,18,17,0,47.83,52.17,51.43,48.57
Bangladesh,5,12,0,4,15,0,29.41,70.59,21.05,78.95
England,11,11,0,21,12,1,50.00,50.00,61.76,35.29
India,23,15,2,29,7,0,57.50,37.50,80.56,19.44
New Zealand,23,10,1,10,14,2,67.65,29.41,38.46,53.85
Pakistan,19,16,0,18,9,0,54.29,45.71,66.67,33.33
South Africa,15,18,0,8,9,1,45.45,54.55,44.44,50.00
Sri Lanka,6,25,1,9,19,0,18.75,78.12,32.14,67.86
West Indies,8,13,0,15,19,0,38.10,61.90,44.12,55.88

In [277]:
team_wise_results_last_5_years.to_csv("CSV Files/Team Wise Results Last 5 Years Batting First & Second.csv")

In [275]:
team_wise_year_wise_results_all_time = win_loss_percentage_batting_first_second(df, groupby_year=True)
team_wise_year_wise_results_all_time

                  Bat 1st Won  Bat 1st Lost  Bat 1st Tied  Bat 2nd Won  \
Team        Year
Australia   2005            1             0             0            0
            2006            1             0             0            0
            2007            2             2             0            3
            2008            0             1             0            1
            2009            2             4             0            1
...                       ...           ...           ...          ...
West Indies 2017            1             2             0            2
            2018            1             3             0            2
            2019            0             5             0            1
            2020            1             1             0            1
            2021            4             0             0            4

                  Bat 2nd Lost  Bat 2nd Tied  Bat 1st Win %  Bat 1st Loss %  \
Team        Year
Australia   2005             1             0         100.00            0.00
            2006             1             0         100.00            0.00
            2007             1             0          50.00           50.00
            2008             0             0           0.00          100.00
            2009             1             0          33.33           66.67
...                        ...           ...            ...             ...
West Indies 2017             2             0          33.33           66.67
            2018             7             0          25.00           75.00
            2019             3             0           0.00          100.00
            2020             1             0          50.00           50.00
            2021             5             0         100.00            0.00

                  Bat 2nd Win %  Bat 2nd Loss %
Team        Year
Australia   2005           0.00          100.00
            2006           0.00          100.00
            2007          75.00           25.00
            2008         100.00            0.00
            2009          50.00           50.00
...                         ...             ...
West Indies 2017          50.00           50.00
            2018          22.22           77.78
            2019          25.00           75.00
            2020          50.00           50.00
            2021          44.44           55.56

[126 rows x 10 columns]

In [278]:
team_wise_year_wise_results_all_time.to_csv("CSV Files/Team Wise Year Wise Results Batting First & Second.csv")

In [274]:
team_wise_results_last_5_years = win_loss_percentage_batting_first_second(df, starting_year=2015, groupby_year=True)
team_wise_results_last_5_years

                   Bat 1st Won  Bat 1st Lost  Bat 1st Tied  Bat 2nd Won  \
Team         Year
Australia    2016            2             3             0            4
             2017            1             3             0            1
             2018            1             2             0            6
             2019            1             0             0            6
             2020            3             2             0            1
             2021            3             2             0            0
Bangladesh   2016            1             2             0            1
             2017            1             2             0            0
             2018            3             5             0            2
             2019            0             1             0            1
England      2016            1             5             0            3
             2017            1             0             0            2
             2018            3             4             0            1
             2019            2             0             0            4
             2020            2             1             0            6
             2021            2             1             0            5
India        2016            5             2             0            7
             2017            6             3             0            3
             2018            4             3             0            8
             2019            3             5             0            6
             2020            3             0             2            4
             2021            2             2             0            1
New Zealand  2016            6             1             0            2
             2017            4             0             0            1
             2018            2             4             0            1
             2019            5             2             1            2
             2020            1             3             0            3
             2021            5             0             0            1
Pakistan     2016            3             4             0            4
             2017            2             1             0            4
             2018           10             2             0            3
             2019            1             3             0            0
             2020            1             3             0            3
             2021            2             3             0            4
South Africa 2016            0             4             0            4
             2017            5             3             0            0
             2018            1             1             0            1
             2019            4             1             0            1
             2020            2             4             0            0
             2021            3             5             0            2
Sri Lanka    2016            0             8             0            1
             2017            0             4             0            5
             2018            1             3             0            3
             2019            4             4             1            0
             2020            0             2             0            0
             2021            1             4             0            0
West Indies  2016            1             2             0            5
             2017            1             2             0            2
             2018            1             3             0            2
             2019            0             5             0            1
             2020            1             1             0            1
             2021            4             0             0            4

                   Bat 2nd Lost  Bat 2nd Tied  Bat 1st Win %  Bat 1st Loss %  \
Team         Year
Australia    2016             3             0          40.00           60.00
             2017             0             0          25.00           75.00
             2018             6             0          33.33           66.67
             2019             0             0         100.00            0.00
             2020             3             0          60.00           40.00
             2021             5             0          60.00           40.00
Bangladesh   2016             4             0          33.33           66.67
             2017             4             0          33.33           66.67
             2018             3             0          37.50           62.50
             2019             1             0           0.00          100.00
England      2016             0             0          16.67           83.33
             2017             4             0         100.00            0.00
             2018             1             0          42.86           57.14
             2019             2             1         100.00            0.00
             2020             2             0          66.67           33.33
             2021             3             0          66.67           33.33
India        2016             2             0          71.43           28.57
             2017             1             0          66.67           33.33
             2018             1             0          57.14           42.86
             2019             2             0          37.50           62.50
             2020             1             0          60.00            0.00
             2021             0             0          50.00           50.00
New Zealand  2016             1             0          85.71           14.29
             2017             3             0         100.00            0.00
             2018             5             0          33.33           66.67
             2019             2             0          62.50           25.00
             2020             1             2          25.00           75.00
             2021             2             0         100.00            0.00
Pakistan     2016             3             0          42.86           57.14
             2017             0             0          66.67           33.33
             2018             0             0          83.33           16.67
             2019             5             0          25.00           75.00
             2020             0             0          25.00           75.00
             2021             1             0          40.00           60.00
South Africa 2016             0             0           0.00          100.00
             2017             1             0          62.50           37.50
             2018             2             0          50.00           50.00
             2019             1             1          80.00           20.00
             2020             3             0          33.33           66.67
             2021             2             0          37.50           62.50
Sri Lanka    2016             5             0           0.00          100.00
             2017             6             0           0.00          100.00
             2018             1             0          25.00           75.00
             2019             4             0          44.44           44.44
             2020             2             0           0.00          100.00
             2021             1             0          20.00           80.00
West Indies  2016             1             0          33.33           66.67
             2017             2             0          33.33           66.67
             2018             7             0          25.00           75.00
             2019             3             0           0.00          100.00
             2020             1             0          50.00           50.00
             2021             5             0         100.00            0.00

                   Bat 2nd Win %  Bat 2nd Loss %
Team         Year
Australia    2016          57.14           42.86
             2017         100.00            0.00
             2018          50.00           50.00
             2019         100.00            0.00
             2020          25.00           75.00
             2021           0.00          100.00
Bangladesh   2016          20.00           80.00
             2017           0.00          100.00
             2018          40.00           60.00
             2019          50.00           50.00
England      2016         100.00            0.00
             2017          33.33           66.67
             2018          50.00           50.00
             2019          57.14           28.57
             2020          75.00           25.00
             2021          62.50           37.50
India        2016          77.78           22.22
             2017          75.00           25.00
             2018          88.89           11.11
             2019          75.00           25.00
             2020          80.00           20.00
             2021         100.00            0.00
New Zealand  2016          66.67           33.33
             2017          25.00           75.00
             2018          16.67           83.33
             2019          50.00           50.00
             2020          50.00           16.67
             2021          33.33           66.67
Pakistan     2016          57.14           42.86
             2017         100.00            0.00
             2018         100.00            0.00
             2019           0.00          100.00
             2020         100.00            0.00
             2021          80.00           20.00
South Africa 2016         100.00            0.00
             2017           0.00          100.00
             2018          33.33           66.67
             2019          33.33           33.33
             2020           0.00          100.00
             2021          50.00           50.00
Sri Lanka    2016          16.67           83.33
             2017          45.45           54.55
             2018          75.00           25.00
             2019           0.00          100.00
             2020           0.00          100.00
             2021           0.00          100.00
West Indies  2016          83.33           16.67
             2017          50.00           50.00
             2018          22.22           77.78
             2019          25.00           75.00
             2020          50.00           50.00
             2021          44.44           55.56

In [ ]:
team_wise_results_all_time.to_csv("CSV Files/Team Wise Results Batting First & Second.csv")

In [180]:
# all_t20is_ever_refined = all_t20is_ever.iloc[::2]
# all_t20is_ever_refined.head()
# all_t20is_ever_refined.Result.value_counts()
# all_t20is_ever = all_t20is_ever[(all_t20is_ever['Result']!='aban') & (all_t20is_ever['Result']!='canc') & ()]
# len(all_t20is_ever)
# all_t20is_ever.to_csv("CSV Files/All T20Is Ever Refined.csv")
# all_t20is_ever_refined.shape
# all_t20is_ever_refined[['Result', 'Bat']].drop_duplicates().sort_values('Result')