In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob as glob
%matplotlib inline

In [2]:
pd.set_option('display.max_columns', None)

In [9]:
# ind_v_sl_hth_last_5_years = pd.read_csv('Ind v SL HTH Last 5 Years in T20Is.csv')
# ind_last_1_year = pd.read_csv('Ind Last 1 Year in T20Is.csv')
# sl_last_1_year = pd.read_csv('SL Last 1 Year in T20Is.csv')
# ind_v_sl_hth_last_5_years.drop(['Unnamed: 0', 'Unnamed: 7', 'Unnamed: 11'], axis=1, inplace=True)
# ind_last_1_year.drop(['Unnamed: 0', 'Unnamed: 7', 'Unnamed: 11'], axis=1, inplace=True)
# sl_last_1_year.drop(['Unnamed: 0', 'Unnamed: 7', 'Unnamed: 11'], axis=1, inplace=True)
# pd.DataFrame({"India v SL Matches Played": 13, "India v SL Matches Won": 10, "India v SL Matches Lost": 2, "India v SL Matches Tied": 0, "India v SL Matches N/R": 1, "India Last 1 year Matches Played": 16, "India Last 1 Year Matches Won": 10, "India Last 1 Year Matches Lost": 3, "India Last 1 Year Matches Tied": 2, "India Last 1 Year Matches N/R": 1, "SL Last 1 Year Matches Played": 11, "SL Last 1 Year Matches Won": 1, "SL Last 1 Year Matches Lost": 9, "SL Last 1 Year Matches Tied": 0, "SL Last 1 Year Matches N/R": 1}, index=[0])

In [19]:
all_t20is_ever = pd.read_csv("CSV Files/All T20Is ever.csv")

In [20]:
all_t20is_ever.drop(['Unnamed: 0', 'Unnamed: 7', 'Unnamed: 11'], axis=1, inplace=True)

In [21]:
all_t20is_ever = all_t20is_ever.iloc[::2]

In [22]:
all_t20is_ever

,Team,Result,Margin,BR,Toss,Bat,Opposition,Ground,Start Date
0,Australia,won,44 runs,NaN,won,1st,v New Zealand,Auckland,17 Feb 2005
2,England,won,100 runs,NaN,won,1st,v Australia,Southampton,13 Jun 2005
4,New Zealand,won,5 wickets,12.0,won,2nd,v South Africa,Johannesburg,21 Oct 2005
6,Australia,won,95 runs,NaN,won,1st,v South Africa,Brisbane,9 Jan 2006
8,New Zealand,tied,-,NaN,won,2nd,v West Indies,Auckland,16 Feb 2006
...,...,...,...,...,...,...,...,...,...
2498,South Africa,won,33 runs,NaN,lost,1st,v Ireland,Dublin (Malahide),19 Jul 2021
2500,England,won,3 wickets,2.0,lost,2nd,v Pakistan,Manchester,20 Jul 2021
2502,Bangladesh,won,8 wickets,7.0,lost,2nd,v Zimbabwe,Harare,22 Jul 2021
2504,South Africa,won,42 runs,NaN,won,1st,v Ireland,Belfast,22 Jul 2021
2506,Zimbabwe,won,23 runs,NaN,won,1st,v Bangladesh,Harare,23 Jul 2021